@import "tailwindcss";
@source "../../node_modules/@courses/ui/src";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-border: var(--border);
}

:root {
  --border: oklch(0.922 0 0);
}

.dark {
  --border: oklch(1 0 0 / 10%);
}

@layer base {
  * {
    @apply border-border;
  }
}
